In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Applications/anaconda3/lib/python3.9/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Applications/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector

def connect_to_database(user, password, host, database):
    conn = mysql.connector.connect(user=user, password=password, host=host, database=database)
    return conn

def select_query(conn, query):
    cursor = conn.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    return result

def insert_query(conn, query, values):
    cursor = conn.cursor()
    cursor.execute(query, values)
    conn.commit()

def insert_many_query(conn, query, values):
    cursor = conn.cursor()
    cursor.executemany(query, values)
    conn.commit()

def update_query(conn, query, values):
    cursor = conn.cursor()
    cursor.execute(query, values)
    conn.commit()

def delete_query(conn, query, values):
    cursor = conn.cursor()
    cursor.execute(query, values)
    conn.commit()

In [4]:
conn = connect_to_database("root", "Mysql@1234", "localhost", "Assignment")
#select query
result = select_query(conn, "SELECT * FROM employee")
print(result)

[]

In [6]:
#insert query
query = "INSERT INTO employee (empid, First_name, Last_name, Age, Gender, Salary, City, Department) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
values = (1, 'Rahul', 'Dravid', 40, 'Male', 60000, 'Bangalore', 'Coach')
insert_query(conn, query, values)

In [7]:
result = select_query(conn, "SELECT * FROM employee")
print(result)

[(1, 'Rahul', 'Dravid', 40, 'Male', 60000.0, 'Bangalore', 'Coach')]

In [8]:
#insert many query
query = "INSERT INTO employee (empid, First_name, Last_name, Age, Gender, Salary, City, Department) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
values = [(2, 'Sanjay', 'Bangar', 30, 'Male', 50000, 'Ranchi', 'Batting Coach'), (3, 'MS', 'Dhoni', 38, 'Male', 55000, 'Ranchi', 'Captain'), (4, 'Virat', 'Kohli', 34, 'Male', 45000, 'Delhi', 'Batsman')]
insert_many_query(conn, query, values)

In [10]:
result = select_query(conn, "SELECT * FROM employee")
print(result)

[(1, 'Rahul', 'Dravid', 40, 'Male', 60000.0, 'Bangalore', 'Coach'), (2, 'Sanjay', 'Bangar', 30, 'Male', 50000.0, 'Ranchi', 'Batting Coach'), (3, 'MS', 'Dhoni', 38, 'Male', 55000.0, 'Ranchi', 'Captain'), (4, 'Virat', 'Kohli', 34, 'Male', 45000.0, 'Delhi', 'Batsman')]

In [11]:
#updating list
query = "UPDATE employee SET first_name=%s WHERE empid=%s"
values = ('M S', 3)
update_query(conn, query, values)

In [12]:
result = select_query(conn, "SELECT * FROM employee")
print(result)

[(1, 'Rahul', 'Dravid', 40, 'Male', 60000.0, 'Bangalore', 'Coach'), (2, 'Sanjay', 'Bangar', 30, 'Male', 50000.0, 'Ranchi', 'Batting Coach'), (3, 'M S', 'Dhoni', 38, 'Male', 55000.0, 'Ranchi', 'Captain'), (4, 'Virat', 'Kohli', 34, 'Male', 45000.0, 'Delhi', 'Batsman')]

In [13]:
#deletion of record based on emp id
query = "DELETE FROM employee WHERE empid=%s"
values = (2,)
delete_query(conn, query, values)

In [14]:
result = select_query(conn, "SELECT * FROM employee")
print(result)

[(1, 'Rahul', 'Dravid', 40, 'Male', 60000.0, 'Bangalore', 'Coach'), (3, 'M S', 'Dhoni', 38, 'Male', 55000.0, 'Ranchi', 'Captain'), (4, 'Virat', 'Kohli', 34, 'Male', 45000.0, 'Delhi', 'Batsman')]