# Project 1 : Creating Databases and Operations
Create a table containing assignment scores of 6 students in class for Python and Javascript and write a query that calculates the total score of all assignments for each student and recognizes the topper student from the table using the scores.

In [5]:
import mysql.connector

# Establish database connection
connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="Assignment")

# Create a cursor object
cursor = connection.cursor()

# Define the SQL query
query = "INSERT INTO scores (student_id, Name, Python_score, Javascript_score) VALUES (%s, %s, %s, %s)"

# Define the values to be inserted
values = [
    (7, 'Jalesh', 38, 89),
    (8, 'Somesh', 54, 85)
    
]

# Execute the query and insert the values
cursor.executemany(query, values)

# Commit the changes to the database
connection.commit()

# Print the number of rows inserted
print(f"{cursor.rowcount} rows inserted.")


# Close the cursor and database connection
cursor.close()
connection.close()

2 rows inserted.

In [7]:

connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="Assignment")

cursor = connection.cursor()

# Execute a SELECT statement to fetch all rows from the table
query = "SELECT * FROM scores"
cursor.execute(query)

# Fetch all the rows
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the cursor and database connection
cursor.close()
connection.close()

(1, 'Ramesh', 83, 99)
(2, 'Suresh', 45, 95)
(3, 'Mahesh', 70, 82)
(4, 'Naresh', 79, 91)
(5, 'Ganesh', 80, 87)
(6, 'Rupesh', 91, 69)
(7, 'Jalesh', 38, 89)
(8, 'Somesh', 54, 85)

In [8]:
connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="Assignment")
cursor = connection.cursor()
cursor.execute("""
    SELECT Name, (Python_score + Javascript_score) AS Total_score
    FROM scores
    ORDER BY Total_score DESC
    LIMIT 1
""")

# Fetch the results
result = cursor.fetchone()

# Print the result
print(f"{result[0]} is the topper with a total score of {result[1]}")

cursor.close()
connection.close()

Ramesh is the topper with a total score of 182

# Project 2 : Handling Databases and CRUD operations using Python
Create a table in the employee database and insert the employee related data of 6 employees to the employee table. Get all the employee related data and update an employee record into the table. Delete the last employee record of the table.

In [9]:
import mysql.connector

# Establish database connection
connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="employeedb")


# Create a cursor object
cursor = connection.cursor()

# Create the employee table
cursor.execute("CREATE TABLE employee (id INT PRIMARY KEY AUTO_INCREMENT, name VARCHAR(50) NOT NULL, age INT NOT NULL, gender VARCHAR(50) NOT NULL, salary INT NOT NULL)")

#INSERT VALUES
query = "INSERT INTO employee (id, name, age, gender, salary ) VALUES (%s, %s, %s, %s, %s)"

values = [(1, 'Ram', 25, 'Male', 45000),
         (2, 'Ravi', 26, 'Male', 48000),
         (3, 'Raju', 26, 'Male', 48500),
         (4, 'Govind', 27, 'Male', 45500),
         (5, 'Aishwarya', 34, 'Female', 54000),
         (6, 'Teena', 28, 'Female', 70000)
         ]
cursor.executemany(query, values)

# Commit the changes to the database
connection.commit()

# Close the cursor and database connection
cursor.close()
connection.close()

In [10]:

connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="employeedb")

cursor = connection.cursor()

# Execute a SELECT statement to fetch all rows from the table
query = "SELECT * FROM employee"
cursor.execute(query)

# Fetch all the rows
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the cursor and database connection
cursor.close()
connection.close()

(1, 'Ram', 25, 'Male', 45000)
(2, 'Ravi', 26, 'Male', 48000)
(3, 'Raju', 26, 'Male', 48500)
(4, 'Govind', 27, 'Male', 45500)
(5, 'Aishwarya', 34, 'Female', 54000)
(6, 'Teena', 28, 'Female', 70000)

In [2]:
import mysql.connector

connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="employeedb")

cursor = connection.cursor()

#update data
update_data = """
UPDATE employee
SET name = 'Gagan', age = 28, gender = 'Male', salary = 60000
WHERE id = 2
"""
cursor.execute(update_data)




# Commit the changes to the database
connection.commit()

# Close the cursor and database connection
cursor.close()
connection.close()

In [7]:
connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="employeedb")

cursor = connection.cursor()

# Delete the last employee record
delete_data = """
DELETE FROM employee
WHERE id = (
    SELECT id FROM (
        SELECT id FROM employee
        ORDER BY id DESC LIMIT 1
    ) AS temp
)
"""
cursor.execute(delete_data)


# Commit the changes to the database
connection.commit()

# Close the cursor and database connection
cursor.close()
connection.close()

In [8]:
connection = mysql.connector.connect(host="localhost", user="root", password="Mysql@1234", database="employeedb")

cursor = connection.cursor()

# Execute a SELECT statement to fetch all rows from the table
query = "SELECT * FROM employee"
cursor.execute(query)

# Fetch all the rows
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the cursor and database connection
cursor.close()
connection.close()

(1, 'Ram', 25, 'Male', 45000)
(2, 'Gagan', 28, 'Male', 60000)
(3, 'Raju', 26, 'Male', 48500)
(4, 'Govind', 27, 'Male', 45500)
(5, 'Aishwarya', 34, 'Female', 54000)

# Project 3 : Voice Assistant using Python
Create a Voice Assistant Project in Python with 4 use-cases that solves your daily life problems.
(Hint : Opening WebLinks, Taking a Screenshot, Reminder, Weather etc.)

In [9]:
#opening weblinks

import webbrowser

# Use case 1: Open a specific website
website = "https://www.google.com"
webbrowser.open(website)

# Use case 2: Open multiple websites
websites = ["https://www.google.com", "https://www.wikipedia.org", "https://www.youtube.com"]
for website in websites:
    webbrowser.open(website)

# Use case 3: Open a website in a new tab
website = "https://www.google.com"
webbrowser.open_new_tab(website)

# Use case 4: Open a website in a new window
website = "https://www.google.com"
webbrowser.open_new(website)

True